<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>me.arndc.macos.keyboardlayout.custom.be.belgian_period</string>
	<key>CFBundleName</key>
	<string>Belgian (period)</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>KLInfo_Belgian (period)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>me.arndc.macos.keyboardlayout.custom.be.belgian_period.belgian(period)</string>
		<key>TISIntendedLanguage</key>
		<string>nl-BE</string>
	</dict>
</dict>
</plist>
